.container {
    padding: 20px;
    text-align: center;
    
  }
  
  .jobListings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .jobCard {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .jobCard {
      width: 100%;
    }
  }
  